* {
	font-family: Helvetica;
}

h1 {
	color: #563d7c;
}

.displayNone {
	display: none;
}

.bg-purple {
	background: #563d7c;
	color: white;
}

.btn-purple {
	color: #563d7c;
	background: #f8f9fa;
	border-color: #563d7c;
}

.btn-purple:hover {
	background: #563d7c;
	color: white;
}

.widthHundred {
	width: 100%;
}

.groundThumnail {
	padding: 30px 30px;
}

.fluid {
	border-radius: 0;
	margin-top: 1rem;
}

#preview {
	color: #563d7c;
	margin: 3rem 0;
	border-radius: 0;
}