* {
	font-family: Helvetica;
}

h1 {
	color: #563d7c;
}

.bg-purple {
	background: #563d7c;
	color: white;
}

.btn-purple {
	color: #563d7c;
	background: #f8f9fa;
	border-color: #563d7c;
}

.btn-purple:hover {
	background: #563d7c;
	color: white;
}

.myground {
	width: 100%;
}

.groundThumnail {
	padding: 30px 30px;
}